name: Format

on: [push, pull_request]

jobs:
  python-format:
    name: 'Python Format'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install python libraries
      shell: bash
      run: |
        pip install -r requirements.txt -r requirements-tests.txt

    - name: Run pylint and black
      shell: bash
      run: |
        pylint reccmp
        black --check reccmp
